<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Home Assistant Google Drive Backup</title>

  <link href="/static/css/icons.css?version={{ version }}" rel="stylesheet">
  <link href="/static/css/materialize.css?version={{ version }}" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="/static/css/colpick.css?version={{ version }}" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="/static/css/static.css?version={{ version }}" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="/static/css/theme.css?version={{ version }}" type="text/css" rel="stylesheet" media="screen,projection" />
  <link rel="icon" type="image/png" href="static/images/favicon.png?version={{ version }}">
  <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
  <script src="/static/js/jquery.js?version={{ version }}"></script>
  <script src="/static/js/materialize.js?version={{ version }}"></script>
  <script src="/static/js/colpick.js?version={{ version }}"></script>
  <script src="/static/js/init.js?version={{ version }}"></script>
  <script src="/static/js/scripts.js?version={{ version }}"></script>
  <script src="/static/js/settings.js?version={{ version }}"></script>
  <script src="/static/js/restore.js?version={{ version }}"></script>
  {% endblock %}
</head>

<body>
  {% block content %}{% endblock %}

  {% block footer %}
    {% include 'layouts/partials/footer.jinja2' %}
  {% endblock %}
  
  {% block scripts %}{% endblock %}
</body>

</html>