[run]
omit =
    hassio-google-drive-backup/backup/logger.py
    hassio-google-drive-backup/backup/tracing_session.py
    hassio-google-drive-backup/backup/ui/debug.py
    hassio-google-drive-backup/backup/server/cloudlogger.py
    hassio-google-drive-backup/backup/debug/*
