<div id="deletemodal" class="modal">
  <div class="modal-content">
    <h4>Are you sure?</h4>
    <p id="delete_text"></p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="danger-button modal-close waves-effect waves-light btn" id="delete_drive">Delete in Google Drive</a>
    <a href="#!" class="danger-button modal-close waves-effect waves-light btn" id="delete_ha">Delete in HA</a>
    <a href="#!" class="danger-button modal-close waves-effect waves-light btn" id="delete_both">Delete Everywhere</a>
    <a href="#!" class="modal-close waves-effect waves-light btn-flat" id="delete_cancel">Cancel</a>
  </div>
</div>
