<div id="details_modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 id="details_name" class="truncate"></h4>
    <p class="detail-node"><span class="left-align" style="font-weight: bold; padding: 5px">Date:</span> <span
        id="details_date"></span></p>
    <p class="detail-node">
      <span class="left-align" style="font-weight: bold; padding: 5px">Home Assistant Version:</span>
      <span id="details_ha_version"></span>
    </p>
    <p class="detail-node"><span class="left-align" style="font-weight: bold; padding: 5px">Type:</span> <span
        id="details_type"></span></p>
    <p class="detail-node">
      <span class="left-align" style="font-weight: bold; padding: 5px">Password:</span>
      <span id="details_password"></span>
    </p>
    <div id="details_folders_and_addons">
      <p class="detail-node" style="font-weight: bold; padding: 5px; padding-bottom: 0px">Folders:</p>
      <ul class="browser-default" id="details_folders"></ul>
      <p class="detail-node" style="font-weight: bold; padding: 5px; padding-bottom: 0px">Addons:</p>
      <ul class="browser-default" id="details_addons"></ul>
    </div>
    <div id="details_upload_reminder">
      <p style="font-style: italic">To see folders and addons included in this snapshot, you must upload it to Home
        Assistant by selecting "Actions" -> "Upload".</p>
    </div>
  </div>
  <div class="modal-footer" style="height: 112px;">
    <a id="download_link" href="#!" onClick="downloadSnapshot(this);return false;" class="modal-close waves-effect btn-flat">
      <i class="material-icons left" style="font-size: 25px">file_download</i>Download
    </a>
    <a href="#!" id="upload_link" data-target="uploadmodal" class="modal-trigger modal-close waves-effect btn-flat"
      onClick="uploadSnapshot(this);return false;">
      <i class="material-icons left" style="font-size: 25px">file_upload</i>Upload
    </a>
    <a id="restore_link" href="#!" onclick="restoreClick(this)" class="modal-close waves-effect btn-flat">
      <i class="material-icons left" style="font-size: 25px">input</i>Restore
    </a>
    <br>
    <a id="delete_link" href="#!" data-target="deletemodal" class="modal-trigger modal-close waves-effect btn-flat red-text text-darken-4"
      onclick="renderDeleteDialog(this);return false;">
      <i class="material-icons left" style="font-size: 25px">delete_forever</i>Delete
    </a>
    <a href="#!" id="retain_link" onClick="retainSnapshot(this);return false;" class="modal-close waves-effect btn-flat">
      <i class="material-icons left" style="font-size: 25px">lock</i>Never Delete
    </a>
    <a id="save_cancel" href="#!" class="modal-close waves-effect btn-flat">Close</a>
  </div>
</div>
