<div id="restoremodal" class="modal">
  <div class="modal-content">
    <h4>Restore this snapshot?</h4>
    <p>Please confirm you'd like to restore this snapshot. This process is irreversible.</p>
    <ul class="browser-default">
      <li>Changes you've made since the snapshot was created will be permanently lost.</li>
      <li>Home Assistant and this add-on will be unresponsive until it is finished setting back up, which in some cases can take hours.</li>
      <li>If the snapshot doesn't have this add-on in it, you may need to reinstall the add-on</li>
    </ul>
    <form method="get" id="restore_form">
      <div id="restore_password_div">
        <p>This snapshot is protected with a password. Please enter it to allow the snapshot to be restored.</p>
        <div class="row">
          <div class="input-field col s12 m6 l3">
            <i class="material-icons prefix">vpn_key</i>
            <input type="password" autocomplete="new-password" id="restore_password" name="restore_password" class="validate" />
            <label for="restore_password">Password</label>
            <span class="helper-text">The password you used to create this snapshot.</span>
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom: 5px">
        <div class="col s12">
          <label>
            <input type="checkbox" name="partial_restore" id="partial_restore" class="filled-in checkbox-ha" onchange="toggleSlide(this, 'restore_partial_details');" />
            <span>Restore only part of this snapshot</span>
            <br />
            <span class="helper-text">Choose which folders and add-on you'd like to restore from this snapshot.</span>
          </label>
        </div>
      </div>
      <div class="row" id="restore_partial_details" style="display: none">
        <div class="col s11 offset-s1">
          <div class="row">
            <div class="input-field col s12">
              <label class="checkbox-label">
                <input type="checkbox" name="restore_homeassistant" id="restore_homeassistant" class="filled-in checkbox-ha" checked />
                <span>Home Assistant <span id="restore_homeassistant_version" class="helper-text"></span></span>
                <br />
                <span class="helper-text">Restore Home Assistant</span>
              </label>
            </div>
          </div>
          <div class="row" style="margin-bottom: 0px">
            <div class="col s12">
              <p style="font-weight: bold">Folders</p>
              <ul style="margin-bottom: 0px; margin-top: 0px">
                <li class="indented-li">
                  <label>
                    <input
                      settings_ignore="true"
                      class="restore_folder_checkbox"
                      type="checkbox"
                      name="restore_folder_homeassistant"
                      id="restore_folder_homeassistant"
                      class="filled-in checkbox-ha"
                      checked
                    />
                    <span class="checkbox-label">Home Assistant Configuration</span>
                    <br />
                    <span class="helper-text">Restore the files and folders from your Home Assistant config directory, eg configuration.yaml</span>
                  </label>
                </li>
                <li class="indented-li">
                  <label class="checkbox-label">
                    <input class="restore_folder_checkbox" type="checkbox" name="restore_folder_ssl" id="restore_folder_ssl" class="filled-in checkbox-ha" checked />
                    <span class="checkbox-label">SSL</span>
                    <br />
                    <span class="helper-text">Restore your "/ssl" directory, where your certfile and keyfile are typically stored.</span>
                  </label>
                </li>
                <li class="indented-li">
                  <label class="checkbox-label">
                    <input class="restore_folder_checkbox" type="checkbox" name="restore_folder_share" id="restore_folder_share" class="filled-in checkbox-ha" checked />
                    <span class="checkbox-label">Share</span>
                    <br />
                    <span class="helper-text">Restore your "/share" directory.</span>
                  </label>
                </li>
                <li class="indented-li">
                  <label class="checkbox-label">
                    <input class="restore_folder_checkbox" type="checkbox" name="restore_folder_addons" id="restore_folder_addons" class="filled-in checkbox-ha" checked />
                    <span class="checkbox-label">Local Addons</span>
                    <br />
                    <span class="helper-text">Restore your local addons directory. This directory will be empty unless you use it for add-on development.</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <p style="font-weight: bold">Addons</p>
              <ul id="restore_addons"></ul>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#!" class="waves-effect waves-light btn-flat orange darken-4 white-text" id="do_restore_button">Restore Snapshot</a>
    <a href="#!" class="modal-close waves-effect waves-light btn-flat" id="restore_cancel">Cancel</a>
  </div>
</div>
