<div id="retainmodal" class="modal">
  <div style="display: none;" id="retain_template_container">
    <div class="retain_template">
      <label>
        <input type="checkbox" class="filled-in checkbox-ha retain_source_checkbox" />
        <span class="source_label">Keep indefinitely in Google Drive</span>
      </label>
    </div>
  </div>
  <script type="text/javascript">
    function retainSnapshot(target) {
      var snapshot = $(target).data('snapshot');
      var slug = snapshot.slug;
    
      let form = $("#retain_options");
      let template_source = $(".retain_template", $("#retain_template_container"));
      form.html('');
      for (let source of snapshot.sources){
        let template = template_source.clone();
        let checkbox = $(".retain_source_checkbox", template);
        checkbox.attr('id', source.key);
        checkbox.data('source', source.key);
        checkbox.prop('checked', source.retained);
        $(".source_label", template).html('Keep indefinitely in ' + sourceToName(source.key));
        form.append(template);
      }
      $("#do_retain_button").attr("onClick", "doRetain('" + slug + "')");
      M.Modal.getInstance(document.querySelector('#retainmodal')).open();
    }
    
    function doRetain(slug) {
      sources = []
      $(".retain_source_checkbox", $("#retain_options")).each(function () {
        let input = $(this);
        if (input.prop('checked')) {
          sources.push(input.data('source'));
        }
      });
      data = {
        'slug': slug,
        'sources': sources 
      };
      postJson("retain", data, refreshstats, null, "Updating snapshot... ");
    }
  </script>
  <div class="modal-content">
    <h4>Keep this snapshot around indefinitely?</h4>
    <p id="retain_text">
      Select where you'd like the snapshots kept indefinitely. It won't get deleted automatically and won't count toward the maximum number of snapshots you've configured to keep
      in Google Drive or Home Assistant. To delete it you'll either need to select "Delete" from the snapshot's menu or come back to this dialog and unckeck the options below to
      let it get automatically cleaned up (after a few minutes).
    </p>
    <form id="retain_options">
    </form>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close btn-flat" id="do_retain_button"><i class="material-icons">save</i>Save</a>
    <a href="#!" class="modal-close btn-flat" id="delete_cancel"><i class="material-icons">close</i>Cancel</a>
  </div>
</div>
