<div id="uploadmodal" class="modal">
  <div class="modal-content">
    <h4>Upload this backup to Home Assistant</h4>
    <p>Are you sure you'd like to upload this backup back to Home Assistant? The backup will be downloaded from
      Google Drive, and after that you'll be able to restore it.</p>
    <p>
      <b>Note:</b> The backup you upload from Google Drive will be kept indefinitely in Home Assistant until you
      delete it manually. You can change this by selecting "Never
      Delete" and unckecking "Keep indefinitely in Home Assistant" from the backup's action menu after its uploaded.
    </p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close btn-flat" id="do_upload_button"><i class="material-icons">check</i>Upload Backup</a>
    <a href="#!" class="modal-close btn-flat" id="upload_cancel"><i class="material-icons">close</i>Cancel</a>
  </div>
</div>
