body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.icon-block .material-icons {
	font-size: inherit;
}

.indented-li {
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

html {
  color: black;
  background-color: transparent;
}

label {
  color: black;
}

.helper-text {
  color: #474747;
}

.detail-node{ 
  margin-top: 0px;
  margin-bottom: 5px;
}

.important-inline {
  display: inline !important;
}

.ha-blue {
  background-color: #03a9f4;
  color: white;
}

.btn {
  background-color: #03a9f4;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
 color: white;
 background-color: #65b3f7;
}

.btn:focus, .btn-large:focus, .btn-small:focus,
.btn-floating:focus {
  background-color: #1f95fc;
}

.top-btn {
  box-shadow: none;
  -webkit-box-shadow: none;
  margin-right: 10px;
}


[type="checkbox"].filled-in:checked + span:not(.lever):after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  color: black;
  background-color: #1b7cd1;
  z-index: 0;
}

.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-small, .modal .modal-footer .btn-flat {
  margin: 6px 0;
  background-color: #03a9f4;
  color: white;
}

.danger-button {
  color: white;
  background-color: rgb(153, 0, 0);
}

.dropdown-content li > a {
  color: rgba(0, 0, 0, 0.5);
}

.card-content > a {
  color: white:
}

.white-text a:link{
  color:rgb(255, 213, 213);
  text-decoration: underline;
}

.white-text a:visited{
  color:rgb(255, 213, 213);
  text-decoration: underline;
}

footer a:link{
  text-decoration: underline;
  color:rgb(252, 252, 252);
}

footer a:visited{
  text-decoration: underline;
  color:rgb(252, 252, 252);
}


.default-hidden {
  display: none;
}

.console-error {
  color: #b30000
}

.console-warning {
  color: #a55d00
}

.console-default {
  color: #ffffff
}

.console-debug {
  color: #3141d1
}

.console-critical {
  color: #810000
}