
.icon-block .material-icons {
	font-size: inherit;
}

.indented-li {
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

label {
  color: black;
}

.helper-text {
  color: #474747;
}

.detail-node{ 
  margin-top: 0px;
  margin-bottom: 5px;
}

.important-inline {
  display: inline !important;
}
