google-api-python-client
google-auth-httplib2
google-auth-oauthlib
oauth2client
requests
python-dateutil==2.6.1
watchdog
pyyaml
dnspython
pytest>=5.4.0
pytest-timeout
pytest-repeat
pytest-asyncio
flake8
mypy
aiorun
aiohttp
aiodns
aiofiles
injector
autopep8
colorlog
debugpy
google-cloud-logging
google-cloud-firestore
aiohttp-jinja2
beautifulsoup4
firebase-admin
aiofile
grpcio
aioping
pytz
tzlocal
pytest-cov
pytest-xdist
