<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l3 s12">
        <h5 class="accent-text">Connect</h5>
        <ul>
          <li>
            <a class="accent-text" href="https://github.com/sabeechen/hassio-google-drive-backup" target="_blank"
              rel="noreferrer">
              Project Github
            </a>
          </li>
          <li>
            <a class="accent-text" href="https://github.com/sabeechen/hassio-google-drive-backup/issues" target="_blank"
              rel="noreferrer">
              Issue Tracker
            </a>
          </li>
          <li>
            <a class="accent-text" href="https://materializecss.com" target="_blank" rel="noreferrer">
              Materialize
            </a>
          </li>
        </ul>
      </div>
      <div class="col l6 s12">
        <h5 class="accent-title">Who did this?</h5>
        <p class="accent-text">I'm an individual who works on projects like this in my spare time. If you
          like it and would like to support me, you can star my projects on <a href="https://github.com/sabeechen"
            class="accent-text" target="_blank" rel="noreferrer">Github</a> or just gimme money at
          <a class="bmc-button" target="_blank" rel="noreferrer" href="https://www.buymeacoffee.com/sabeechen"><img
              src="{{ bmc_logo_path }}" alt="Support me"><span>Buy me a coffee</span></a></p>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        © 2020 Stephen Beechen
      </div>
    </div>
  </div>
</footer>