<footer class="page-footer">
  <div class="container valign-wrapper">
    <span style="margin-right: 5px;">
      <b>© 2021 Stephen Beechen</b>
      <span class="hide-on-small-only"> - </span>
      <br class="hide-on-med-and-up">
      If you like this project, keep it going and
    </span>
    <a class="bmc-button" target="_blank" rel="noreferrer" href="https://www.buymeacoffee.com/sabeechen">
      <img src="{{ bmc_logo_path }}" alt="Support me"><span>Buy me a coffee</span>
    </a>
  </div>
</footer>
    