<div id="about_modal" class="modal">
  <div class="modal-content">
    <h4>About this project</h4>
    <h5>Who did this?</h5>
    <p>
      I'm an individual who works on projects like this in my spare time.
      If you like it and would like to support me, you can star my projects on
      <a href="https://github.com/sabeechen" target="_blank" rel="noreferrer">Github</a>
      or just gimme money at:
      <br>
      <a class="bmc-button" target="_blank" rel="noreferrer" href="https://www.buymeacoffee.com/sabeechen" style="margin-top: 10px;">
        <img src="{{ bmc_logo_path }}" alt="Support me"><span>Buy me a coffee</span>
      </a>
      <form action="https://www.paypal.com/donate" method="post" target="_top">
        <input type="hidden" name="hosted_button_id" value="MPVZAWC3WRRLY" />
        <input type="image" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_100x26.png" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
      </form>
      <br>
    </p>

    <h5>
      Contributors <span><span id="contributors-count"></span></span>
    </h5>
    <div id="contributors-loading" class="progress" style="width: 30%;">
      <div class="indeterminate"></div>
    </div>
    <p id="contributors-extra" style="margin-bottom: 6px;">
    </p>
    <p id="contributors-simple" style="margin-bottom: 6px;">
    </p>
    <a href="https://github.com/sabeechen/hassio-google-drive-backup/graphs/contributors">
      + <span id="contributors-more-link-count"></span> more
    </a>

    <h5>Connect</h5>
    <ul class="browser-default">
      <li>
        <a href="https://github.com/sabeechen/hassio-google-drive-backup" target="_blank" rel="noreferrer">
          Project Github
        </a>
      </li>
      <li>
        <a href="https://github.com/sabeechen/hassio-google-drive-backup/issues" target="_blank" rel="noreferrer">
          Issue Tracker
        </a>
      </li>
      <li>
        <a href="https://materializecss.com" target="_blank" rel="noreferrer">
          Materialize
        </a>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <div class="copyright left">
      © 2021 Stephen Beechen
    </div>
    <a href="#!" class="modal-close waves-effect btn-flat">Close</a>
  </div>
</div>
