<div id="about_modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>About this project</h4>
    <h5>Who did this?</h5>
    <p>
      I'm an individual who works on projects like this in my spare time.
      If you like it and would like to support me, you can star my projects on
      <a href="https://github.com/sabeechen" target="_blank" rel="noreferrer">Github</a>
      or just gimme money at:
      <br>
      <a target="_blank" rel="noreferrer" href="https://www.buymeacoffee.com/sabeechen" style="margin: 15px; margin-left: 0;">
        <img width=150 src="static/{{ version }}/images/bmc-button.svg" alt="Support me">
      </a>
      <a href="https://www.paypal.com/paypalme/stephenbeechen?locale.x=en_US" target="_blank" rel="noreferrer" style="margin: 15px;">
        <img width=150 src="static/{{ version }}/images/paypal-button.svg"  alt="Donate through PayPal" />
      </a>
      <a href="https://www.patreon.com/bePatron?u=4064183" target="_blank" rel="noreferrer" style="margin: 15px;">
        <img width=150 src="static/{{ version }}/images/patreon-button.svg"/>
      </a>
      <br>
    </p>

    <h5>
      Contributors <span id="contributors-count" class="default-hidden"></span>
    </h5>
    <div id="contributors-loading" class="progress" style="width: 30%; margin-top: 22px; margin-bottom: 22px;">
      <div class="indeterminate"></div>
    </div>
    <div id="contributors" class="default-hidden">
      <p id="contributors-extra" style="margin-bottom: 24px;">
      </p>
      <p id="contributors-simple" style="margin-bottom: 6px;">
      </p>
      <a href="https://github.com/sabeechen/hassio-google-drive-backup/graphs/contributors" target="_blank">
        + <span id="contributors-more-link-count"></span> more
      </a>
    </div>

    <h5>Connect</h5>
    <ul class="browser-default">
      <li>
        <a href="https://github.com/sabeechen/hassio-google-drive-backup" target="_blank" rel="noreferrer">
          Project Github
        </a>
      </li>
      <li>
        <a href="https://github.com/sabeechen/hassio-google-drive-backup/issues" target="_blank" rel="noreferrer">
          Issue Tracker
        </a>
      </li>
      <li>
        <a href="https://materializecss.com" target="_blank" rel="noreferrer">
          Materialize
        </a>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <div class="copyright left">
      © 2021 Stephen Beechen
    </div>
    <a href="#!" class="modal-close btn-flat"><i class="material-icons">close</i>Close</a>
  </div>
</div>
