<div id="about_modal" class="modal">
  <div class="modal-content">
    <h4>About this project</h4>
    <h5>Who did this?</h5>
    <p>
      I'm an individual who works on projects like this in my spare time.
      If you like it and would like to support me, you can star my projects on
      <a href="https://github.com/sabeechen" target="_blank" rel="noreferrer">Github</a>
      or just gimme money at:
      <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
        data-name="bmc-button"
        data-slug="sabeechen"
        data-color="#FFDD00"
        data-emoji=""
        data-font="Cookie"
        data-text="Buy me a coffee"
        data-outline-color="#000000"
        data-font-color="#000000"
        data-coffee-color="#ffffff">
      </script>
    </p>

    <h5>Connect</h5>
    <ul class="browser-default">
      <li>
        <a href="https://github.com/sabeechen/hassio-google-drive-backup" target="_blank" rel="noreferrer">
          Project Github
        </a>
      </li>
      <li>
        <a href="https://github.com/sabeechen/hassio-google-drive-backup/issues" target="_blank" rel="noreferrer">
          Issue Tracker
        </a>
      </li>
      <li>
        <a href="https://materializecss.com" target="_blank" rel="noreferrer">
          Materialize
        </a>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <div class="copyright left">
      © 2021 Stephen Beechen
    </div>
    <a href="#!" class="modal-close waves-effect btn-flat">Close</a>
  </div>
</div>