<div id="help_modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Get Help</h4>
    <p class="detail-node">Maybe this add-on isn't working or you just don't know what to do. You can resolve almost any
      issue by following these steps:</p>
    <ul class="browser-default">
      <li>
        <h6>Check the FAQ</h6>
        First check out the <a href="https://github.com/sabeechen/hassio-google-drive-backup#faq" target="_blank"
          rel="noreferrer">add-on FAQ</a>. Reading documentation is boring,
        its true, but the developer spent a lot of time trying making them easy to read and follow. If you're lucky,
        your question is already answered there.
      </li>

      <li>
        <h6>Check the Forum</h6>
        Next, try checking the
        <a href="https://community.home-assistant.io/t/add-on-home-assistant-google-drive-backup/" target="_blank"
          rel="noreferrer">add-on announcement forum post.</a>
        Your question might already be there, and if not its a good place to ask. If the developer can't answer your
        question, it might be that another user can help.
      </li>
      <li>
        <h6>Check the Logs</h6>
        This add-on makes its <a target="_blank" href="log?format=view">debug logs</a>
        available. They're pretty cryptic, but might give you some context for whats going wrong. Sometimes, an error
        only shows up in the Home Assistant supervisor logs, which you
        can get to from within Home Assistant by clicking "Supervisor" > "System" > "System Logs" > "Refresh".
      </li>
      <li>
        <h6>Restart Everything</h6>
        Restart the add-on. Restart Home Assistant. Reinstall the add-on. Technology loves to be restarted, its amazing
        how many problems it can solve.
      </li>
      <li>
        <h6>File an Issue</h6>
        If you don't want to ask something in front of the angry mobs on the internet, you can file an issue on the
        project GitHub <a onclick="bugReport()">Issue Tracker</a>, just
        click "new issue". The developer gets an email if make one of those, which he promises to try and help with. No
        question is stupid.
      </li>
      <li>
        <h6>Reach out Directly</h6>
        I put my name on this and I want it to work well for you. You can email me at
        <a href="mailto:stephen@beechens.com">stephen@beechens.com</a>
      </li>
    </ul>
    <p>Maybe what you're dealing with is of a more, <i>general</i> nature? Home Assistant has a lot of rough edges, but
      really anything can be frustrating.</p>
    <ul class="browser-default">
      <li>
        <h6>Take care of yourself</h6>
        Make sure you've had enough water to drink today. If you love coffee, it might be time to put on a new pot. If
        its late at night, now might be the time to hit the sack.
        Everything is more difficult when you're not at your best.
      </li>
      <li>
        <h6>Get a fresh perspective</h6>
        Take a walk, seriously. Sometimes the mind gets so fixated on a problem that it can't think around it anymore.
        <a href="https://en.wikipedia.org/wiki/Rubber_duck_debugging" target="_blank" rel="noreferrer">Explain your
          problem to a duck</a>
        and you might see the solution was obvious.
      </li>
      <li>
        <h6>Be realistic</h6>
        In a week you're unlikely to even remember this moment. Next year, you're going to be a different person, with a
        different mind. If you have the spare time to get
        frustrated at how your home automation system stores its backups, then whatever you've got going on in this
        moment is probably small potates. You've always been the one to
        decide how you react.
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close btn-flat"><i class="material-icons">check</i>That Helps</a>
    <a href="#!" class="modal-close btn-flat"><i class="material-icons">close</i>Nevermind</a>
  </div>
</div>
