body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  .icon-block .material-icons {
      font-size: inherit;
  }
  
  .indented-li {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .important-inline {
    display: inline !important;
  }
  
  .detail-node{ 
    margin-top: 0px;
    margin-bottom: 5px;
  }
  
  .top-btn {
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-right: 10px;
  }

  .danger-button {
    color: white;
    background-color: rgb(153, 0, 0);
  }
  
  .default-hidden {
    display: none;
  }
  
  .console-error {
    color: #b30000
  }
  
  .console-warning {
    color: #a55d00
  }
  
  .console-default {
    color: #ffffff
  }
  
  .console-debug {
    color: #3141d1
  }
  
  .console-critical {
    color: #810000
  }

  .colpick {
    z-index: 9999;
  }

  #toast-container {
    top: auto !important;
    left: auto !important;
    bottom: 10%;
    right: 7%;
  }

  nav {
    box-shadow: none;
  }

  nav .brand-logo {
    display: flex;
    align-items: center;
  }

  nav .brand-logo img {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .nav-wrapper {
    height: 56px;
  }

  .sidenav-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #f7f7f7;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  .modal {
    outline: none;
  }

  .error_card a {
    font-weight: 500;
    text-decoration: underline;
  }

  .choose-folder-container {
    padding: 5px 15px;
    margin: 10px 0;
    border-radius: 5px;
  }

  .bmc-btn {
    height: 48px !important;
  }

  .copyright {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 18px;
  }

  .card .card-action a,
  .btn-flat {
    color: var(--mdc-theme-primary) !important;
    font-weight: 500;
  }

  .card .card-action a.waves-effect .waves-ripple,
  .btn-flat.waves-effect .waves-ripple {
     background-color: var(--mdc-theme-primary-ripple);
  }

  .snapshot-ui .archive-icon {
    position: relative;
    margin-right: 18px;
  }