# Hass.io Google Drive Backup

Automatically create and sync snapshots with Google Drive

## About
A complete and easy to configure solution for backing up your snapshots to Google Drive
* Automatically creates new snapshots on a configurable schedule.
* Uploads any snapshots it finds to Google Drive.
* Automatically cleans up old snapshots in Home Assistant and Google drive so you don't run out of space.
* Integrates with Home Assistant Notifications, and provides sensors you can trigger off of.

[Click here for the full documentation][docs]

[docs]: {{ repo }}/blob/{{ version }}/README.md
