{% import "layouts/macros.jinja2" as macros %}
{% extends "layouts/base.jinja2" %}

{% macro chooseFolder(id) %}
<div class="error-card-container col s11 offset-s1">
  <div class="input-field find_parent_target">
    <i class="material-icons prefix">folder_open</i>
    <input type="text" id="{{ id }}" />
    <label for="{{ id }}">Enter your folder ID here, then click "Save"</label>
    <span class="helper-text hide-for-default-creds">The Google Drive ID of the folder you'd like to upload snapshots into. You
      can get this id by navigating to the folder in
      <a href="https://drive.google.com" target="_blank" rel="noreferrer">Google Drive</a>
      and copying it out of the URL. It should be a long sequence of characters at the end of the URL. For
      example if the URL for my folder is
      <a target="_blank" rel="noreferrer"
        href="https://drive.google.com/drive/folders/1el4ZWcE0xdkIu_Yt_2kxk36qE7K5O188">https://drive.google.com/drive/folders/1el4ZWcE0xdkIu_Yt_2kxk36qE7K5O188</a>,
      then the Drive ID is 1el4ZWcE0xdkIu_Yt_2kxk36qE7K5O188</span>
    <span class="helper-text hide-for-custom-creds">Use the "Choose Folder" button to open a new window where you can select the 
      folder you'd like to use.  Doing this gives the addon permission to store snapshots in that folder.</span>
    <a href="#!" id="choose_folder_button" style="margin-left: 50px" onclick="chooseSnapshotFolder()"
      class="waves-effect btn-flat hide-for-custom-creds">
      <i class="material-icons left">open_in_new</i>
      Choose Folder
    </a>
    <a href="#!" id="choose_folder_button" onclick="saveFolder($('#{{ id }}', $(this).parent('.find_parent_target')).val())"
      class="waves-effect btn-flat">
      <i class="material-icons left">save</i>
      Save
    </a>
  </div>
</div>
{% endmacro %}

{% block head %}
  {{ super() }}
  <script type="text/javascript">
    $(document).ready(function () {
      processStatusUpdate(bootstrap_update_data);
      // Every 5 seconds, refresh the metrics form the server.
      window.setInterval(refreshstats, 5000);
    });
  </script>
{% endblock %}

{% block content %}
  <div id="source-template" style="display: none;">
    <div class="source-ui">
      <div id="source-template" class="left container" style="margin-left: 15px;">
        <h6 class="source_title"></h6>
      </div>
      <div class="left container source_retain_label" style="margin-left: 15px">
        <h7 class="left"><span class="source_retain_count"></span> saved indefinitely</h7>
      </div>
      <div class="right">
        <div class="right">
          <h5 class="source_snapshot_count" style="text-align: right;"></h5>
          <div class="source_free_space tooltipped" style="text-align: right;"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="snapshot-template" style="display: none">
    <div class="snapshot-ui">
      <div class="row" style="margin-bottom: 10px; margin-top: 10px;">
        <div class="col s1 valign-wrapper"><i class="large material-icons" style="font-size: 30px;">archive</i></div>
        <div class="col s11">
          <div>
            <span id="name" class="left truncate"></span>
            <span class="right" style="font-weight: bold;">
              <span id="status"></span>
              <i class="material-icons small tooltipped" id="status-help" style="font-size: 15px; vertical-align: top"
                data-position="left" data-tooltip="error">help</i>
            </span>
            <br />
            <span class="left">Size: <span id="size"></span></span>
            <br />
            <a class='dropdown-trigger btn right waves-effect' href='#' data-target='action_dropdown'
              id="action_dropdown_button" style="display: none;">
              <i class="material-icons medium left">keyboard_arrow_down</i>
              Actions
            </a>
            <br />
            <a href="#" onclick="showDetails(this);return false;" id="status-details"><i class="material-icons left"
                style="margin-right: 3px; font-size: 15px;">info</i></a>
            <i class="material-icons left icon-protected tooltipped" data-position="right"
              data-tooltip="This snapshot is password protected" style="margin-right: 3px; font-size: 15px;">vpn_key</i>
            <i class="material-icons left icon-retain tooltipped" data-position="right"
              data-tooltip="This snapshot will be kept indefinitely until you delete it."
              style="margin-right: 3px; font-size: 15px;">lock</i>
            <i class="material-icons left tooltipped icon-warn-delete yellow-text text-darken-4" data-position="right"
              data-tooltip="" style="margin-right: 3px; font-size: 15px;">warning</i>
          </div>
          <ul id='action_dropdown' class='dropdown-content'>
            <li id="delete_option">
              <a href="#!" id="delete_link" data-target="deletemodal" class="modal-trigger tooltipped"
                data-position="left" data-tooltip="Deletes the snapshot from Home Assistant, Google Drive, or both."
                onClick="renderDeleteDialog(this);return false;">
                <i class="material-icons left" style="font-size: 25px">delete_forever</i>Delete
              </a>
            </li>
            <li id="download_option">
              <a href="#!" id="download_link" class="tooltipped" data-position="left"
                data-tooltip="Save the snapshot archive to your computer."
                onClick="downloadSnapshot(this);return false;">
                <i class="material-icons left" style="font-size: 25px">file_download</i>Download
              </a>
            </li>
            <li class="divider" tabindex="-1"></li>
            <li id="restore_option">
              <a href="#!" onclick="restoreClick(this)" id="restore_link" class="tooltipped" data-position="left"
                data-tooltip="Restore the snapshot, overwriting your current configuration with this archive's.">
                <i class="material-icons left" style="font-size: 25px">input</i>Restore
              </a>
            </li>
            <li id="upload_option">
              <a href="#!" id="upload_link" data-target="uploadmodal" class="modal-trigger tooltipped"
                data-position="left"
                data-tooltip="Upload the snapshot from Google Drive to Home Assistant.  <br/>You'll need to do this if you want to restore the snapshot."
                onClick="uploadSnapshot(this);return false;">
                <i class="material-icons left" style="font-size: 25px">file_upload</i>Upload
              </a>
            </li>
            <li id="retain_option">
              <a href="#!" id="retain_link" class="tooltipped" data-position="left"
                data-tooltip="Keep this snapshot indefinitely until you manually delete it."
                onClick="retainSnapshot(this);return false;">
                <i class="material-icons left" style="font-size: 25px">lock</i>Never Delete
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="divider">
      </div>
    </div>
  </div>
  <div class='error' style='display:none' id="toast">You shouldn't see this</div>
  <main>
    <div class="container">
      <div class="section">
        {% include 'layouts/partials/error-messages.jinja2' %}

        <div class="row default-hidden" id="error_reports_card">
          <div class="col s12 m9">
            <div class="card">
              <div class="card-content">
                <span class="card-title">Share Error Reports?</span>
                <p>If you select yes the text of unexpected exceptions this add-on produces will be sent to a server
                  maintained by the developer. This is completely optional, but helps give him a heads up for problems
                  with new releases and aids in providing better help messages when things go wrong. If you're unsure,
                  just select "No". You can always change this in the settings menu up on the top right of the page.</p>
                <div class="card-action white-text">
                  <a target="_blank" class="waves-effect btn" onClick="errorReports('true');">Yes</a>
                  <a target="_blank" class="waves-effect btn" onClick="errorReports('false');">No</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row default-hidden" id="ingress_upgrade_card">
          <div class="col s12 m9">
            <div class="card">
              <div class="card-content">
                <span class="card-title">Use Ingress instead?</span>
                <p>The latest version of this add-on supports <a target="_blank" rel="noreferrer"
                    href="https://www.home-assistant.io/blog/2019/04/15/hassio-ingress/">ingress</a>. Ingress allows
                  this web interface to be embeeded inside of Home Assistant, which is usually more secure because it
                  delegates authentication to the same mechanisms you've configured in Home Assistant (eg SSL and
                  username/password). Currently this interface is being served on an additional port outside of
                  Home Assistant which is less secure.</p>
                <br />
                <p><b>Select YES</b> to only use ingress to access this interface. This is recommended, as ingress is
                  almost always more secure.
                  In the future you can access this interface by following the "WEB UI" link from the add-on
                  installation page or embedding it in
                  your Home Assistant side-bar from the same place.</p>
                <br />
                <p><b>Select NO</b> to continue exposing a web interface on an open port with the SSL and authentication
                  settings you choose. The port, which defaults to 1627, can be changed form the add-on page in Home
                  Assistant.</p>
                <br />
                <p>You can change this option any time from the settings menu. No matter which you choose, the interface
                  will be available through ingress.</p>
                <br />
                <div class="card-action white-text">
                  <a target="_blank" class="waves-effect btn"
                    onClick="exposeServer('false');">Yes</a>
                  <a target="_blank" class="waves-effect btn" onClick="exposeServer('true');">No</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row default-hidden" id="restore_help_card">
          <div class="col s12 m9">
            <div class="card">
              <div class="card-content">
                <span class="card-title">Restore a Snapshot</span>
                <p>Snapshots must be restored through the supervisor Snapshots page. You can restore a snapshot by
                  navigating to
                  "Supervisor" &gt; "Snapshots" from the Home Assistant Web-UI,
                  or by clicking the button below to navigate there by a direct link. Depending on how you access the Home
                  Assistant Web-UI the direct link may not work, so you'll just have to navigate there.</p>
                <br />
                <div class="card-action">
                  <a target="_blank" id="restore_hard_link" class="waves-effect btn" href="">Open
                    Snapshots</a>
                  <a target="_blank" class="waves-effect btn modal-close"
                    onClick="$('#restore_help_card').fadeOut(500)">Dismiss</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col m3">
            <div id="sources">
            </div>
            <div class="left container" style="margin-left: 15px">
              <h6>Last Snapshot:</h6>
            </div>
            <div class="right container">
              <h6 class="right">
                <time datetime="" title="" id="last_snapshot"></time>
              </h6>
            </div>
            <div class="left container" style="margin-left: 15px">
              <h6>Next Snapshot:</h6>
            </div>
            <div class="right container">
              <h6 class="right">
                <time datetime="" title="" id="next_snapshot"></time>
              </h6>
            </div>
          </div>
          <div class="col m1 hide-on-med-and-down"></div>
          <div class="col m8">
            <div>
              <div class='row default-hidden' id="no_snapshots_block">
                <div class='col s1'></div>
                <div class='col s2 valign-wrapper center'>
                  <i class='red-text text-darken-4 material-icons' style="font-size: 90px">block</i>
                </div>
                <div class='col s7 center valign-wrapper'>
                  <p>You don't have any snapshots in Google Drive or Home Assistant. Use the "Actions" menu up top
                    create a snapshot and start backing up.</p>
                </div>
              </div>
              <div id="snapshots_loading" class=row>
                <div class='col s1'></div>
                <div class='col s2 valign-wrapper center'>
                  <i class='material-icons' style="font-size: 90px">refresh</i>
                </div>
                <div class='col s7 center valign-wrapper'>
                  <p>Waiting for snapshots to load. If you don't see this go away soon, make sure the add-on is still
                    running. Info on this page may be stale until then.</p>
                </div>
              </div>
              <div id="snapshots">
              </div>
            </div>
            <div class="divider"></div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
